body{
  background-color: #FAF8B6;
}
h2{
  font-family: FreeMono, monospace;
}
h4{
  font-family: FreeMono, monospace;
}
ul {
list-style-type: disk;background-color: #976FEE;
 padding: 15px 15px;
  margin: 5px 10px 25px;
  border-radius:15px;
}
ul li {
 background: #B394F6;
 padding: 5px;
 margin: 5px 0 0 35px;
 border-radius: 9px;
}
ol {
list-style-type: disk;
 background: #00AFF1;
 padding: 15px 15px;
  margin: 5px 10px 25px;
  border-radius: 20px;
}
ol li {
 background: #45CCFF;
 padding: 5px;
 margin: 5px 0 0 35px;
   border-radius: 9px;
}
